body {
  text-align: center;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

#buttonStart {
  background-color: lavender;
  font-size: 30px;
}

#buttonNext,
#buttonRestart {
  background-color: lavender;
  font-size: 15px;
}

#beginQuiz, #finalFeedback, #highscores {
  display: none;
}

ol {
  display: table;
  margin: 0 auto;
  font-size: 30px;
}

.buttonQuestion {
  background-color: lavender;
  font-size: 25px;
}
