body {
   text-align: center; 
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#buttonStart, #buttonNext, #buttonRestart {
    background-color: lavender;
    font-size: 30px;
}

#beginQuiz {
    display:none;
}

ol li {
    text-align: center;
}

#buttonQuestion {
    font-size: 45px
}